 /*page 2 */
  
 .navigation2 {
    margin-top: 95px;
  }
  
  .navigation2 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .navigation2 a {
    text-decoration: none;
    color: #212121;
  }
  
  .button1 {
    background-color: transparent;
    width: auto;
    height: auto;
    border: 0;
    list-style-type: none;
    font-family: Roboto;
    font-weight: 500px;
    font-size: 16px;
    line-height: 26px;
    margin-right: 8px;
    padding: 0px;
  }
  
  .text-button {
    display: block;
    padding: 6px 24px;
    
  }
  
  .button1 a:hover,
  .button1 a:focus {
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196f3;
  }
  
  /*section 2*/
  
  .section10 {
    padding-top: 50px;
    margin-bottom: 94px;
  }
  
  .section10 ul {
    list-style-type: none;
  }
  
  .section10 a {
    text-decoration: none;
  }
  
  .section10_li {
    width: 370px;
  }
  
  .imagenes {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
   
  }
  
  
  address p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  
    color: #ffffff;
  }
  
  .footer2 {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 94px;
  }
  
  .image1:hover,
  .image1:focus {
    box-sizing: border-box;
    position: absolute;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    width: 370px;
  }
  
  .tittle10 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
  }
  
  .tittle11 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  